---
import ButtonBlog from './ButtonBlog.astro'

interface Props {
  title: string
  description: string
  href: string | undefined
  imgSrc: string
}

const { title, description, href, imgSrc }: Props = Astro.props
---

<div class="relative col-span-1 items-center bg-[#190526] h-full rounded-lg">
  <div class="absolute border-2 opacity-10 w-full h-full rounded-lg"></div>
  <div class="max-h-[10rem] h-full">
    <img
      class="rounded-t-lg h-full w-full object-cover object-center"
      src={imgSrc}
      alt=""
    />
  </div>
  <div class="relative z-20 p-4">
    <a
      class="font-bold mb-4 text-xl underline hover:opacity-75 transition-all duration-200 ease-in-out"
      href={href}
    >
      {title}
    </a>
    <p class="text-sm pt-2 pb-5">
      {description}
    </p>
    <ButtonBlog href={href} />
  </div>
</div>
