---
import '@fontsource/space-mono'
import Navbar from '../components/Navbar.astro'

const { frontmatter } = Astro.props
const [firstName, lastName] = frontmatter.author.split(' ')
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Astro description"
    />
    <meta
      name="viewport"
      content="width=device-width"
    />
    <link
      rel="icon"
      type="image/svg+xml"
      href="/favicon.svg"
    />
    <meta
      name="generator"
      content={Astro.generator}
    />
    <title>Fernando Lorca | {frontmatter.title}</title>
  </head>
  <body class="pb-10">
    <Navbar />
    <main class="px-5">
      <article class="flex flex-col items-center">
        <h1 class="text-center text-4xl font-bold pb-5 md:max-w-[30rem]">
          {frontmatter.title}
        </h1>
        <p class="text-center md:max-w-[30rem]">{frontmatter.description}</p>
        <div class="flex gap-2 items-center justify-center pt-10">
          <img
            src={frontmatter.authorImage}
            alt={`${frontmatter.author}'s profile picture`}
            class="w-10 h-10"
          />
          <div>
            <h2>{firstName}</h2>
            <h2>{lastName}</h2>
          </div>
        </div>
        <hr class="border w-64 opacity-40 my-10" />
        <div class="max-w-[40rem]">
          <slot />
        </div>
      </article>
    </main>
  </body>
</html>

<style is:global>
  body {
    background-color: #020213;
    background-image: url('/bg-gradient.svg');
    background-position: top;
    background-repeat: no-repeat;
    font-family: 'Space Mono', monospace;
    color: #c5cad1;
  }

  pre {
    padding: 1rem;
    border-radius: 0.6rem;
    margin: 2rem 0;
    font-size: 15px;
  }
</style>
